<ion-item
  lines="none"
  [class]="chat?.senderId != currentUserId ? 'sender' : 'user'"
>
  <ion-label
    [slot]="chat?.senderId == currentUserId ? 'end' : 'start'"
    class="ion-text-wrap"
  >
    <ion-text>{{ chat?.text }}</ion-text>
    <ion-note>
      <small>{{ getFormattedDate(chat?.time) }}</small>
      <ion-icon
        *ngIf="chat?.senderId == currentUserId"
        [color]="chat?.senderId == currentUserId ? 'light' : 'primary'"
        name="checkmark-done-outline"
      ></ion-icon>
    </ion-note>
  </ion-label>
</ion-item>
